@model LaundryManagerWeb.ViewModels.OrderFormViewModel
@{ ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_FE_Layout.cshtml"; }

    <section>
        <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="productcont">
                                @foreach (var x in Model.Category)
                                {
                                <div class="product col-md-4">
                                    <div class="product-img">
                                        @if (x.Id == 1)
                                        {<img src="~/Assets/Img/category-1.png" alt="">}
                                        else if (x.Id == 2)
                                        {<img src="~/Assets/Img/category-2.png" alt="">}
                                        else
                                        {<img src="~/Assets/Img/category.png" alt="">}
                                    </div>
                                    <div class="product-details">
                                        <h3 class="productname">@x.Name</h3>
                                        <p>Product description excerpt...</p>
                                        <p class="price">Rs. @x.UnitCharge</p>
                                        <input type="hidden" value="@x.Id" name="id" />
                                    </div>
                                    <div class="product-footer">

                                        @Html.ActionLink("Add to Cart", "Add/"+x.Id, "Cart", new { @class="addtocart" })
                                        @*<form asp-area="" asp-controller="Cart" asp-action="Add" method="post">
            <input type="hidden" value="@x.Id" name="id" />
            <button class="addtocart" type="submit">Add To Cart</button>

        </form>*@
                                    </div>


                                    
                                </div>

                                }
                                </div>
                    </div>
                </div>

        </div>
    </section>